# macOS resource fork files
._*

#secret
*.json


# Godot 4+ specific ignores
.godot/
/android/
# Godot-specific
.import/
export.cfg
export_presets.cfg

# OS
.DS_Store
Thumbs.db

# Backups
*.tmp
*.bak

#artwork
*.png
Assets/
*.svg
node_modules/
